# ignore everything 
/* 

# except these files/folders

!/.gitignore


!/.github

!/README.md

!/.zshrc

!/.profile
!/.xprofile

!/.vimrc

!/rofi


!/.oh-my-zsh

!/.Xresources

!/emoji

!/fontconfig

!/.mozilla


!/tos/tos-firefox/
!/tos/profiles.ini

!/neofetch

!/gtk-3.0


!libinput-gestures.conf

!/xfce4/xfce-perchannel-xml/xfce4-keyboard-shortcuts.xml
