# ignore everything 
/* 

# except these files/folders

!/.gitignore

!/README.md

!/.zshrc

!/.vimrc

!/compton

!/i3

!/rofi

!/mpd

!/polybar

!/pulse

!/.urxvt

!/.oh-my-zsh

!/.Xresources

!/dunst

!/emoji

!/fontconfig

!/.mozilla
