# ignore everything 
/* 

# except these files/folders

!/.gitignore

!/.github

!/README.md

!/.zshrc

!/.profile

!/.vimrc

!/compton

!/i3

!/rofi

!/mpd

!/polybar

!/.urxvt

!/.oh-my-zsh

!/.Xresources

!/dunst

!/emoji

!/fontconfig

!/.mozilla

!/sway

!/waybar

!/tos
tos/theme
tos/autostart

!/neofetch

!/gtk-3.0

!/openbox

!/awesome

!/.themes

!/index.theme
